



bin/
obj/
out/
bin/Debug/net8.8/


*.user
*.suo
*.userosscache
*.sln.docstates

logs/

*.log


appsettings.Development.json

appsettings.json

EF-core_Migration.csproj
EF-core_Migration.sln

launchSettings.json
